.section.portfolio {
  padding: 90px 0;
  color: #fff;
  position: relative;
}

.title-block {
  text-align: center;
  margin-bottom: 30px;
  position: relative;
}

.section-title {
  font-size: 18px;
  color: #b2b2b2;
  display: inline-block;
  position: relative;
  margin-bottom: 30px;
  z-index: 2; 
}

.section-title::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(24, 23, 21, 0.15);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1; 
  opacity: 0;
  transition: box-shadow 0.6s ease, opacity 0.6s ease;
}

.section-title.active::before {
  opacity: 1;
  box-shadow: 0 0 15px #5ec4de;
}

.section-subtitle {
  font-size: 32px;
  font-weight: 700;
  margin-top: 20px;
  color: #fff;
  position: relative;
}

.section-subtitle::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #888;
  margin: 12px auto 30px;
  border-radius: 2px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
  gap: 30px;
  justify-content: center;
}

.card {
  display: block;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.12);
  transition: transform 0.35s ease, box-shadow 0.35s ease;
  min-height: 300px;
}

.card:hover {
  transform: translateY(-3px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.164);
}

.thumb {
  height: 280px;
  background-size: cover;
  background-position: center;
}

.card-footer {
  background: rgba(27, 26, 26, 0.881);
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  padding: 10px 0;
  color: #fff;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.more-info {
  text-align: center;
  font-size: 16px;
  margin-top: 40px;
  color: #aaa;
}

.portfolio::before {
  content: "";
  position: absolute;
  top: 250px;
  right: 1200px;
  width: 650px;
  height: 650px;
  background: #110e0ed4;
  border-radius: 50%;
}

