.tools {
  position: relative;
  padding: 100px 0;
  text-align: center;
  background: linear-gradient(135deg, #1c1c1c 0%, #0b0b0b 100%);
  color: #fff;
  overflow: hidden;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

.tools-small {
  font-size: 16px;
  z-index: 2;
  position: relative;
  margin-bottom: 40px; 
  display: inline-block;
  color: #b2b2b2;;
}

.tools-small::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(24, 23, 21, 0.15);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  transition: box-shadow 1.2s ease, opacity 1.2s ease;
  opacity: 0.5;
}

.tools-small:hover::before {
  box-shadow: 0 0 20px #5edec7;
  opacity: 1;
}

.tools-small.active::before {
  box-shadow: 0 0 10px #5ec4de;
  opacity: 1;
}

.tools-header {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  z-index: 2;
  position: relative;
}

.tools-header::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #666; 
  margin: 12px auto 30px; 
  border-radius: 2px;
}

/* список технологий */
.tools-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  z-index: 2;
}

.tool-card {
  padding: 12px 20px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.08);
  color: #e0e0e0;
  font-weight: 500;
  font-size: 16px;
  cursor: default;
  transition: box-shadow 0.3s ease, transform 0.3s ease, background 0.3s ease;
}

.tool-card:hover {
  transform: translateY(-5px);
}

/* кружочки */
.tools::before,
.tools::after,
.tools .circle1,
.tools .circle2,
.tools .circle3 {
  content: "";
  position: absolute;
  border-radius: 50%;
  opacity: 0.6;
  animation: floatCircle 8s infinite ease-in-out;
}

.tools::before {
  width: 120px;
  height: 120px;
  background: rgba(93, 83, 90, 0.708);
  top: 20%;
  left: 10%;
  animation-duration: 12s;
}

.tools::after {
  width: 80px;
  height: 80px;
  background: rgba(170, 155, 222, 0.4);
  top: 80%;
  right: 10%;
  animation-duration: 15s;
}

.tools .circle1 {
  width: 50px;
  height: 50px;
  background: rgba(255, 105, 180, 0.4);
  top: 30%;
  left: 70%;
  animation-duration: 10s;
}

.tools .circle2 {
  width: 30px;
  height: 30px;
  background: rgba(185, 180, 215, 0.658);
  top: 70%;
  left: 40%;
  animation-duration: 13s;
}

.tools .circle3 {
  width: 60px;
  height: 60px;
  background: rgba(141, 122, 134, 0.459);
  top: 110%;
  right: 50%;
  animation-duration: 14s;
}

@keyframes floatCircle {
  0%, 100% { transform: translateY(0) scale(1); opacity: 0.6; }
  50% { transform: translateY(-20px) scale(1.1); opacity: 0.8; }
}